@model AulaManager.Models.AlumnoGrado

@{
    ViewBag.Title = "Detalles Alumno Grado";
}

<h2>Detalles</h2>

<div>
    <h4>Alumno Grado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
</p>
