@model IEnumerable<AulaManager.Models.AlumnoGrado>

@{
    ViewBag.Title = "Alumnos Grado";
}

<h2>Alumnos Grado</h2>

<p>
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-primary" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seccion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
